{{ define "main" }}

<div class="p-strip is-dark">
    <div class="row--50-50">
        <div class="col">
            <div class="p-media-object--large">
                <img src="{{ .Params.imageURL }}" class="p-media-object__image is-round" alt="">
                <div class="p-media-object__details">
                    <h1 class="p-media-object__title">{{ .Title }}</h1>
                    <ul class="p-media-object__meta-list">
                        {{ range .Params.taglines }}<li>{{.}}</li>{{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <ul class="p-list--divided is-split">
                {{ range .Params.social }}
                <a href="{{.link}}">
                    <li class="p-list__item has-bullet">{{.label}}</li>
                </a>
                {{ end }}
            </ul>
            <div class="p-cta-block">
                <a href="./contact.vcf" class="p-button--positive">{{ i18n "contact_button" }}</a>
                {{ with .Params.button }}<a href="{{.link}}">{{.label}} ›</a>{{ end }}
              </div>
           
        </div>
    </div>
</div>
{{- partial "banners.html" . -}}

{{ end }}